@import './tag.css';

.tag-group {
  display: inline-flex;
  align-items: center;
  gap: calc(var(--spaces-static-200, 8) * 1px);
  box-sizing: border-box;
  width: fit-content;
  height: calc(var(--line-heights-body-m, 20) * 1px);
}

.tag-group__icon {
  pointer-events: none;
}

