.text-headline__frame {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.text-headline__frame--t-padding {
  padding-top: calc(var(--text-headline-line-height) * 1px);
}

.text-headline__frame--b-padding {
  padding-bottom: calc(var(--text-headline-b-padding) * 1px);
}

.text-headline {
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  color: var(--text-primary, var(--primary-primary, #34373c));
  white-space: nowrap;
  word-break: break-word;
  font-family: var(--font-families-headline, 'Oceanic Text'), system-ui, sans-serif;
}
